<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1029381441351-cjmhqc9t5q6ng4dk1pr3u4m64jv0ljhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1029381441351-cjmhqc9t5q6ng4dk1pr3u4m64jv0ljhl</string>
	<key>API_KEY</key>
	<string>AIzaSyBiWI0QjetOA_VqLq7zVjjHeb8V22DaDjk</string>
	<key>GCM_SENDER_ID</key>
	<string>1029381441351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>intern-flutter-ae32d</string>
	<key>STORAGE_BUCKET</key>
	<string>intern-flutter-ae32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1029381441351:ios:d75dc60146dc8b18dc2e62</string>
</dict>
</plist>